@model Datos.Models.ImportacionesModel

@{
    ViewBag.Title = "Estado de la Orden de ";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Importaciones", "Index", "Importaciones")</li>
                    <li class="breadcrumbs-item">Transacciones</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title Importaci&oacute;n</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title Importaci&oacute;n</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title Importacion - Inicio', '/Importaciones/Ayuda', 'DEOIIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <!--<label class="input">
        <input type="text" list="list">
        <datalist id="list">
            <option value="Alexandra"></option>
            <option value="Alice"></option>
            <option value="Anastasia"></option>
            <option value="Avelina"></option>
        </datalist>
    </label>-->
    <div class="card shadow">
       <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="DEOIIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Cod. Prov.</th>
                            <th>Descripci&oacute;n</th>
                            <th>Documento</th>
                            <th>F. Emisi&oacute;n</th>
                            <th>Importe</th>
                            <th>T.M.</th>
                            <th>Sit.</th>
                            <th>F. Entrega</th>
                            <th>T. Precio</th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#DEOIIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            

            ajax: {
                url: ruta_actual + "/Importaciones/GridOrdenImportacion",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [9],
                orderable: false,
                searchable: false
            }],
            columns: [
                { data: "CodigoProveedor" },
                { data: "DescripcionProveedor" },
                { data: "NroOrden" },
                { data: "FechaEmision" },
                { data: "Importe" },
                { data: "TM" },
                { data: "Sit" },
                { data: "FechaEntrega" },
                { data: "Precio" },
                {
                    render: function (data, type, row)
                    { return '<a title="Cambiar Estado" class="btn btn-info grid_opt" href="#" onclick="AjaxModalGet(\'Estados de la Orden de Importación\', \'/Importaciones/DEOIEdit\');"><i class="fa fa-tasks"></i></a>'; }
                },
            ]
        });
    });
</script>
