@model Datos.Models.ImportacionesModel

@{
    ViewBag.Title = "";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Importaciones", "Index", "Importaciones")</li>
                    <li class="breadcrumbs-item">Transacciones</li>
                    <li class="breadcrumbs-item active">Nacionalizaci&oacute;n de Art&iacute;culos</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>Nacionalizaci&oacute;n de Art&iacute;culos</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Nacionalizacion de Articulos - Inicio', '/Importaciones/Ayuda', 'NAIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-12">
            <a href="#" onclick='pagina_central("NAGastos/1", "Importaciones")' class="btn btn-primary">
                <i class='fa fa-plus'></i>
                Gastos DUA
            </a>
            <a href="#" onclick='mostrar_panel("NACreate", "Importaciones")' class="btn btn-success">
                <i class='fa fa-plus'></i>
                Nuevo
            </a>
        </div>
    </div>

    <div class="card shadow">
       <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="NAIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nro. DUA</th>
                            <th>Fecha Emisi&oacute;n</th>
                            <th>Orden Imp.</th>
                            <th>Valor Aduana</th>
                            <th>Ad/ Valorem</th>
                            <th>I.G.V.</th>
                            <th>I.P.M.</th>
                            <th>Importe</th>
                            <th>T.M.</th>
                            <th>T/C</th>
                            <th>Sit</th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#NAIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            

            ajax: {
                url: ruta_actual + "/Importaciones/GridNAImportacion",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [11],
                orderable: false,
                searchable: false
            },
            {
                targets: [12],
                searchable: false,
                orderable: false
            },
            {
                targets: [13],
                searchable: false,
                orderable: false
            }],
            columns: [
                { data: "Documento" },
                { data: "FechaEmision" },
                { data: "NroOrden" },
                { data: "ValorAduana" },
                { data: "ValorEm" },
                { data: "IGV" },
                { data: "IPM" },
                { data: "Importe" },
                { data: "ValorEm" },
                { data: "TotalCredito" },
                { data: "Sit" },
                {
                    render: function (data, type, row)
                    { return '<a class="btn btn-info grid_opt" title="Editar" href="#" onclick="mostrar_panel(\'NAEdit?Codigo=' + row.Codigo + '\', \'Importaciones\')"><i class="fa fa-edit"></i></a>'; }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.Codigo + '\')"><i class="fa fa-trash"></i></a>';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-primary grid_opt" title="Imprimir" href="#"><i class="fa fa-print"></i></a>';
                    }
                },
            ]
        });
    });
</script>
