@{
    ViewBag.Title = "Vendedor";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid">
    <div class="card-body">
        <h5><i class="fa fa-check-circle-o fa-2x"></i> <b>Agregar @ViewBag.Title</b></h5>
        <hr />
        @Html.Partial("Datos")
    </div>
</div>

