<div class="container-fluid">
    <p>Emite reportes analíticos y gráficos para que los gerentes y/o administradores del negocio, puedan controlar cada una de las áreas del negocio. <br />
    Emite registro de compras, ventas e impuestos por pagar. <br />
    Emite ranking y rentabilidad de ventas, utilidad neta del negocio y reportes de auditoria de gestión.</p>
</div>