<div class="container-fluid">
    <p>Formulario de inicio del m&oacute;dulo de <b>Declaración Jurada Informativa</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Campo <b>Fecha</b>
                    </td>
                    <td>
                        Permite seleccionar la fecha actual
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-success grid_opt'>
                            <i class='fa fa-save'></i>
                            Generar archivo TX RF
                        </label>
                    </td>
                    <td>
                        Genera eldocumento de la fecha seleccionada
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>