@model Datos.Models.AlmacenesModel

@{
    ViewBag.Title = "";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Almacenes", "Index", "Almacenes")</li>
                    <li class="breadcrumbs-item">Reportes</li>
                    <li class="breadcrumbs-item">Almac&eacute;n</li>
                    <li class="breadcrumbs-item active">Reporte de Stock de Art&iacute;culos por Lote/Serie</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>Reporte de Stock de Art&iacute;culos por Lote/Serie</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Reporte de Stock de Articulos por Lote/Serie - Inicio', '/Almacenes/Ayuda', 'RASALIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Par&aacute;metros</div>
                    <div class="card-body">
                        <div class="row">
                            <label>Almac&eacute;n</label><br />
                            <select class="form-control" id="i_almacenes">
                                <option>01 - Almac&eacute;n Principal</option>
                                <option>02 - Almac&eacute;n Secundario</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Art&iacute;culos</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="radio" name="i_articulo" id="i_todos" />&nbsp;
                                <label>Todos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="radio" name="i_articulo" id="i_rango" />&nbsp;
                                <label>Rango</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <label>De</label>
                            </div>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.CodigoProducto, new { @class = "form-control alert-warning", @id = "i_desde", @maxlength = "20", @disabled = true, onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Artículos', '/Articulo/Articulos', 'nada')" })
                            </div>
                            <div class="col-sm-1">
                                <label>A</label>
                            </div>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.CodigoProducto, new { @class = "form-control alert-warning", @id = "i_hasta", @maxlength = "20", @disabled = true, onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Artículos', '/Articulo/Articulos', 'nada')" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Filtro</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Lote </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Serie </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <input type="checkbox" />
                <label>Incluir art&iacute;culos con Stock = 0</label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary">
                    <i class='fa fa-print'></i>
                    Imprimir
                </a>
            </div>
        </div>
    }
</div>
<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('.telefono').mask('(000) 000-0000', { placeholder: "(000) 000-0000" });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(function () {
        $("#i_todos")[0].checked = true;
    });
    //$('#opt').on('ifChanged', function (event) { $(event.target).trigger('change'); });
    $('#i_todos').on('ifChecked', function () {
        activa_articulos(0);
    })

    $('#i_rango').on('ifChecked', function () {
        activa_articulos(1);
    })

    function activa_articulos(valor) {
        var desde = $("#i_desde")[0];
        var hasta = $("#i_hasta")[0];

        if (valor == 1) {
            desde.disabled = false;
            hasta.disabled = false;
        } else {
            desde.disabled = true;
            hasta.disabled = true;
        }
    }

    function nada(codigo, descripcion) {
        $('#m_central').modal('hide');
    }
</script>
