@model Datos.Models.AlmacenesModel

@{
    ViewBag.Title = "";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Almacenes", "Index", "Almacenes")</li>
                    <li class="breadcrumbs-item">Reportes</li>
                    <li class="breadcrumbs-item active">Reporte de &Oacute;rdenes de Trabajo</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>Reporte de &Oacute;rdenes de Trabajo</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Reporte de Ordenes de Trabajo - Inicio', '/Almacenes/Ayuda', 'ROTIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Par&aacute;metros</div>
                    <div class="card-body">
                        <div class="row">
                            <input type="checkbox" id="p_todos" />&nbsp;
                            <label> Todos </label>
                        </div>
                        <div class="row">
                            <label>Almac&eacute;n</label><br />
                            <select class="form-control" id="i_almacenes">
                                <option>01 - Almac&eacute;n Principal</option>
                                <option>02 - Almac&eacute;n Secundario</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Fecha</div>
                    <div class="card-body">
                        <div class="row">
                            <input type="checkbox" />&nbsp;
                            <label> Fecha de Movimientos </label><br />
                            <div class="col-sm-6">
                                <label>Del</label>
                                <select class="form-control">
                                    <option>Marzo de 2019</option>
                                    <option>Febrero de 2019</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Al</label>
                                <select class="form-control">
                                    <option>Marzo de 2019</option>
                                    <option>Febrero de 2019</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Estado</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Ambos </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Activos </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="radio" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Liquidados </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">&Oacute;rdenes de Trabajo</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="radio" name="i_orden" id="i_orden_todos" />&nbsp;
                                <label>Todos</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.Moneda, new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="Moneda Nacional", Value = "MN" },
                                    new SelectListItem{ Text="Moneda Extranjera", Value = "ME" },
                                }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="radio" name="i_orden" id="i_orden_rango" />&nbsp;
                                <label>Rango</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <label>De</label>
                            </div>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.OrdenTrabajo, new { @class = "form-control alert-warning", @id = "i_desde", @maxlength = "20", @disabled = true, onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Ordenes de Trabajo', '/Almacenes/OrdenesTrabajo', 'nada')" })
                            </div>
                            <div class="col-sm-1">
                                <label>A</label>
                            </div>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.OrdenTrabajo, new { @class = "form-control alert-warning", @id = "i_hasta", @maxlength = "20", @disabled = true, onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Ordenes de Trabajo', '/Almacenes/OrdenesTrabajo', 'nada')" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Tipo</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="checkbox" />
                            </div>
                            <div class="col-sm-10">
                                <label>Detallado </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="checkbox" name="i_filtro" />
                            </div>
                            <div class="col-sm-10">
                                <label>Valorizado </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary">
                    <i class='fa fa-print'></i>
                    Imprimir
                </a>
            </div>
        </div>
    }
</div>
<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('.telefono').mask('(000) 000-0000', { placeholder: "(000) 000-0000" });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(function () {
        $("#i_orden_todos")[0].checked = true;
    });
    //$('#opt').on('ifChanged', function (event) { $(event.target).trigger('change'); });

    $('#i_orden_todos').on('ifChecked', function () {
        activa_orden(0);
    })

    $('#i_orden_rango').on('ifChecked', function () {
        activa_orden(1);
    })

    $('#p_todos').on('ifChecked', function (event) {
        activa_almacen(1);
    });

    $('#p_todos').on('ifUnchecked', function (event) {
        //if ($("input#CreatePart").not(':checked')) {
        activa_almacen(0);
        //}
    });

    function activa_orden(valor) {
        var desde = $("#i_desde")[0];
        var hasta = $("#i_hasta")[0];

        if (valor == 1) {
            desde.disabled = false;
            hasta.disabled = false;
        } else {
            desde.disabled = true;
            hasta.disabled = true;
        }
    }

    function activa_almacen(valor) {
        var almacenes = $("#i_almacenes")[0];

        if (valor == 0) {
            almacenes.disabled = false;
        } else {
            almacenes.disabled = true;
        }
    }

    function nada(codigo, descripcion) {
        $('#m_central').modal('hide');
    }
</script>
