
@{
    ViewBag.Title = "Error cargando el formulario";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger col-lg-12 text-center">
        <p>Hubo un error al cargar la p&aacute;gina solicitada</p>
    </div>
    <div align="center" class="col-lg-12">
        <img src="~/Content/images/triangulo.png" width='300' />
    </div>
</body>
</html>
