@model Datos.Models.FacturacionModel
@{
    ViewBag.Title = "Consulta de Ventas por Cliente";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Facturacion", "Index", "Facturacion")</li>
                    <li class="breadcrumbs-item">Consultas</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/Facturacion/Ayuda', 'CVCIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="CVCIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Descripci&oacute;n</th>
                            <th>RUC</th>
                            <th>Tel&eacute;fono</th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#CVCIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            

            ajax: {
                url: ruta_actual + "/Facturacion/GridCVC",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [4],
                orderable: false,
                searchable: false
            }],
            columns: [
                { data: "CodigoCliente" },
                { data: "Descripcion" },
                { data: "RUC" },
                { data: "Telefono" },
                {
                    render: function (data, type, row)
                    { return '<a class="btn btn-info grid_opt" href="#" onclick="mostrar_panel(\'CVCDetalle?CodigoCliente=' + row.CodigoCliente + '\', \'Facturacion\')" ><i class="fa fa-clipboard-list"></i></a>'; }
                }
            ]
        });
    });
</script>
