<div class="container-fluid">
    <p>Formulario de inicio del m&oacute;dulo</p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <label class="btn btn-primary">
                            <i class='fa fa-search'></i>
                            Buscar
                        </label>
                    </td>
                    <td>
                        Buscar registros seg&uacute;n criterio especificado
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-light'><i class="fa fa-search"></i></label>
                    </td>
                    <td>
                        Muestra el detalle de la Consulta por Art&iacute;culo
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>