<div class="container-fluid">
    <p>Formulario donde se registra o edita un Documentos de Liquidaci&oacute;n</p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Campo <b>Proveedor</b>
                    </td>
                    <td>
                        Indica el Proveedor de la Documentos de Liquidaci&oacute;n
                        - Al darle doble click despliega una ventana donde muestra todos los proveedores activos para seleccionar
                    </td>
                </tr>
                <tr>
                    <td>
                        Campo <b>Descripci&oacute;n</b>
                    </td>
                    <td>
                        Descripci&oacute;n del Proveedor seleccionado, no es editable
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        .<br />
                        .<br />
                        .<br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-primary">
                            <i class='fa fa-plus'></i>
                            Nuevo
                        </label>
                    </td>
                    <td>
                        Despliega una ventana donde se agrega el detalle de productos/servicios del Documentos de Liquidaci&oacute;n
                        <a href="#" class="btn btn-light" onclick="AjaxModalGet('Ayuda Liquidación - Nuevo', '/Compras/Ayuda', 'CLNuevo', 'm_ayudas')">
                            <i class='fa fa-arrow-right'></i>
                            Ver m&aacute;s
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-primary">
                            <i class='fa fa-arrow-left'></i>
                            Regresar
                        </label>
                    </td>
                    <td>
                        Regresa al Inicio de Documentos de Liquidaci&oacute;ns
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class='btn btn-success'>
                            <i class='fa fa-save'></i>
                            Guardar
                        </label>
                    </td>
                    <td>
                        Se guardan los datos cargados de la pestaña seleccionada, de no poder guardar emitir&aacute; una alerta
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>