<div class="container-fluid">


    <div class="card mt-1">
        <div class="card-header text-danger">
        <div class="row justify-content-center">

            <div class="col-6">

                <input type="text" class="form-control text-center" placeholder="Nombre Del Cliente" />

            </div>
        </div>
        
           
        </div>
        <div class="card-body">

            <div class="card-body">
                <div class="bd-example">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped pre-scrollable datatables dataTable no-footer" style="cursor: pointer; width: 100%;" id="PCBSLIndexGrid" role="grid" aria-describedby="PCBSLIndexGrid_info" width="100%" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="PCBSLIndexGrid" rowspan="1" colspan="1" style="width: 54px;" aria-sort="ascending" aria-label="Codigo: activar para ordenar columnas descendientes">
                                        Descripci&oacute;n
                                    </th>
                                  
                                    <th class="sorting" tabindex="0" aria-controls="PCBSLIndexGrid" rowspan="1" colspan="1" style="width: 64px;" aria-label="Fecha de Ing.: activar para ordenar columnas  ascendientes">
                                   Monto
                                    </th>
                                
                                  
                                </tr>

                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        REGISTRO XXX
                                    </td>
                               
                                    <td>
                                       XXXXX
                                    </td>
                                
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">
                                        REGISTRO YYY
                                    </td>
                                  
                                    <td>
                                        XXXXX
                                    </td>
                                   
                                </tr>
                           </tbody>
                        </table>
                    </div>
                  
                    
                    <div class="row justify-content-end">

                        <div class="col-md-6 col-lg-4 ">
                           Total
                            <input type="text" class="form-control" placeholder="00.00" />

                        </div>
                    </div>


                </div>
            </div>


        </div>


    </div>



    <hr />
    <div class="row justify-content-between">
        <div class="col-md-12 justify-content-sm-center col-lg-6 clearfix mt-1">
            <button class="btn btn-secondary ">
                <i class="fa fa-print"></i>
              Agregar 
            </button>


            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
               Aquitar
            </a>
        </div>
        <div class="col-md-12 col-lg-6 clearfix mt-1 text-md-right  text-ms-center ">
           
             <button class="btn btn-secondary ">
                <i class="fa fa-print"></i>
                Aceptar
            </button>


            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Salir
            </a>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(".datepickers").datepicker({
        autoclose: true
    });
</script>