<div class="container-fluid">
    <div class="card">
        <div class="card-header text-danger">
            Informaci&oacute;n del Trabajador
        </div>


        <div class="card-body">
            <div class="row">



                <div class="col-sm-4">
                    <label>Trabajador</label>
                    <input class="form-control alert-warning" onkeypress="solo_enteros(event)" ondblclick="AjaxModalGet('Referencias', '/PMaestra/Referencias', 'nada2', 'm_middle')" />
                </div>
                <div class="col-sm-4">
                    <label>Fecha de Ingreso</label>
                    <input class="form-control datepickers" readonly />
                </div>
                <div class="col-sm-4">
                    <label>Fecha de Cese</label>
                    <input class="form-control datepickers" readonly />
                </div>

                <div class="form-group col-sm-12">
                    <label for="sel1">Seleccione un Motivo de Baja:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-1">
        <div class="card-header text-danger">
            Prima
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <label>AFP</label>
                    <input class="form-control w-100" readonly />
                </div>
                <div class="col-sm-3">
                    <label>Aport. Obligatoria</label>
                    <input class="form-control w-100" readonly />
                </div>
                <div class="col-sm-3">
                    <label>Seguro Prev</label>
                    <input class="form-control w-100" readonly />
                </div>
                <div class="col-sm-3">
                    <label>Comisión Variable Prev</label>
                    <input class="form-control w-100" readonly />
                </div>


                <div class="col-sm-3 ">


                    <label>Aport. Comp. <input type="checkbox"> </label>
                    <input class="form-control w-100" readonly />
                </div>

                <div class="col-sm-3">
                    <label>Tope de Seguro</label>
                    <input class="form-control w-100" readonly />
                </div>
                <div class="col-sm-3">
                    <label>TC</label>
                    <input class="form-control w-100" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-1">
        <div class="card-header text-danger">
            Base Cálculo
        </div>
        <div class="card-body">
            <div class="row text-center justify-content-around">
                <div class="col-sm-3">
                    
                     <a href="#" class="btn btn-primary text-center mt-2"onclick="AjaxModalGet('Base de Cálculo de Credito de Liquidación', '/PProceso/POBCLiquid', '', 'm_middle')">
                        <i class='fa fa-save'></i>
                        Procesar
                    </a>
                </div>

                <div class="col-sm-3">
                    <label>
                        <input type="checkbox"><br />
                        Dias Efectivamente Trabajados
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="checkbox"><br />
                        Mes Completo (Vac.)
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="checkbox"><br />
                        Mes Completo (Grat.)
                    </label>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-borderless table-condensed">
                    <tr align="center">
                        <td></td>
                        <td>
                      
                        </td>
                        <td>
                            <label>
                                <input type="checkbox"><br />
                                C.T.S
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox"><br />
                                Vac. Truncas
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox"><br />
                                Gratificación
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox"><br />
                                Despido Intempestivo
                            </label>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>Base C&aacute;lculo</td>
                        <td>
                            <input class="form-control" readonly />
                        </td>
                        <td></td>
                        <td>
                            <input class="form-control" readonly />
                        </td>
                        <td>
                            <input class="form-control" readonly />
                        </td>
                        <td>
                            <input class="form-control" readonly />
                        </td>
                    </tr>

                    <tr align="center">
                        <td> Fechas Truncas</td>
                        <td>
                            <input class="form-control datepickers" readonly />
                        </td>
                        <td></td>
                        <td>
                            <input class="form-control datepickers" readonly />
                        </td>
                        <td>
                            <input class="form-control datepickers" readonly />
                        </td>
                        <td>
                            <input class="form-control datepickers" readonly />
                        </td>
                    </tr>
                    <tr align="center">
                        <td> A&ntilde;os por Cancelar</td>
                        <td>

                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>

                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input" class="w-25">
                                    </div>
                                </div>
                                <input type="text" class="form-control w-50" aria-label="Text input with checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>



                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>


                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>
                    </tr>



                    <tr align="center">
                        <td> Meses por Cobrar</td>
                        <td>

                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>

                        <td>
                            <input class="form-control datepickers" readonly />
                        </td>

                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>



                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>


                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>
                    </tr>

                    <tr align="center">
                        <td> Dias por Cobrar</td>
                        <td>

                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>

                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input   type="checkbox" aria-label="Checkbox for following text input" class="w-25">
                                    </div>
                                </div>
                                <input type="text" class="form-control w-50" aria-label="Text input with checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>



                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>


                        </td>
                        <td>
                            <div class="input-group mb-3">

                                <input class="form-control w-25">
                                <input class="form-control w-50">
                            </div>

                        </td>
                    </tr>
                    <tr align="center">
                        <td>

                            Inter&eacute;s CTS (0%)


                            <input id="p_0" type="checkbox" class="form-control" >

                        </td>
                        <td>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control w-50" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="p_1" disabled type="button" onclick="AjaxModalGet('Detalle CTS', '/PProceso/CTSDetalleCTS', '', 'm_middle')">...</button>
                                </div>
                            </div>

                        <td>
                            <input class="form-control datepickers" />


                        </td>

                        <td>
                            <input class="form-control datepickers" readonly />

                        </td>
                        <td></td>
                        <td></td>
                      
                
                          <tr align="center">
                  
                        <td ></td>
                        <td></td>
                        <td style="border-bottom: 1px solid #dddfeb;">

                        </td>
                        <td style="border-bottom: 1px solid #dddfeb;">
                          
                            <button class="btn btn-outline-secondary" onclick="AjaxModalGet('Detalle de Pagos Vacacionales', '/PProceso/CTSDetalle', '', 'm_middle')">Ver Detalle</button>

                        </td>

                        <td style="border-bottom: 1px solid #dddfeb;" colspan="3"></td>
                       

                    </tr>


                    <tr align="center">
                        <td>
                            Sub Total
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly>

                        </td>
                        <td></td>

                        <td>
                            <input class="form-control " readonly />

                        </td>
                        <td>
                            <input class="form-control " readonly />
                        </td>
                        <td>
                            <input class="form-control " readonly />
                        </td>


                    <tr align="center">

                        <td> Retenci&oacute;n por Pensiones</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input class="form-control " />
                        </td>
                        <td>
                            <input class="form-control " />
                        </td>

                        <td></td>

                    </tr>

                    <tr align="center">

                        <td> Total</td>
                        <td>
                            <input class="form-control " readonly />
                        </td>
                        <td></td>
                        <td>
                            <input class="form-control " readonly />
                        </td>
                        <td>
                            <input class="form-control " readonly />
                        </td>

                        <td>
                            <input class="form-control " readonly />
                        </td>

                    </tr>
                    <tr align="center">

                        <td> Ingreso Extraordinario</td>
                        <td>
                            <button class="btn btn-outline-secondary" type="button" onclick="AjaxModalGet('Ingresos Extraordinarios-Liquidaciones', '/PProceso/CTSDIExtraordinario', '', 'm_middle')">...</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            <input class="form-control " readonly />
                        </td>

                    </tr>
                    <tr align="center">

                        <td> Egreso Extraordinario</td>
                        <td>
                            <button class="btn btn-outline-secondary" type="button" onclick="AjaxModalGet('Egreso Extraordinarios-Liquidaciones', '/PProceso/CTSDIExtraordinario', '', 'm_middle')">...</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            <input class="form-control " readonly />
                        </td>

                    </tr>
                    <tr align="center">

                        <td colspan="3"> Total Neto Liquidaci&oacute;n de Tiempo de Servicios</td>


                        <td></td>
                        <td></td>

                        <td>
                            <input class="form-control " readonly />
                        </td>

                    </tr>
                </table>
            </div>




        </div>





    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-info" onclick="$('#m_central').modal('hide')">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Aceptar
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    
        $('#p_0').on('ifChecked', function (event) {
            //AjaxModalGet('Detalle CTS', '/PProceso/CTSDetalleCTS', '', 'm_middle');
            $('#p_1').click();
                          
            $('#p_1').prop("disabled", false);
        
               
                
        });
        $('#p_0').on('ifUnchecked', function (event) {
           
            $('#p_1').prop("disabled", true);
        });
     
</script>