@model Datos.PlanillaModels.PMaestraModel

<input id="parametro" name="parametro" type="hidden" value="@ViewBag.accion" />

<div class="container-fluid">

 


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="paso1-tab" data-toggle="tab" href="#paso1" role="tab" aria-controls="paso1" aria-selected="false">
                <i class='fa fa-arrow-right'></i>
                Datos Generales
              
            </a>    
        </li>
          <li class="nav-item">
            <a class="nav-link " id="paso2-tab" data-toggle="tab" href="#paso2" role="tab" aria-controls="paso2" aria-selected="true">
                <i class='fa fa-arrow-right'></i>
                Afecto A
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="paso3-tab" data-toggle="tab" href="#paso3" role="tab" aria-controls="paso3" aria-selected="false">
                <i class='fa fa-arrow-right'></i>
               Contabilidad
            </a>
        </li>
     
      
    </ul>
    <br />
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane show active " id="paso1" role="tabpanel" aria-labelledby="paso1-tab">

            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">
                        <div class="card-header font-weight-bold">
                            Datos Generales

                        </div>
                        <div class="card-body">


                            <div class="row">

                                <div class="col-md-4 col-sm-12">
                                    <label>C&oacute;digo</label>
                                    <input class="form-control " />
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label>Nombre</label>
                                    <input class="form-control" />
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <label>Tipo Concepto</label>
                                    <select class="form-control">
                                        <option>1</option>
                                    </select>

                                </div>

                            </div>


                        </div>


                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">
                        <div class="card-header font-weight-bold">
                            Valor del Concepto

                        </div>
                        <div class="card-body">


                            <div class="row">

                                <div class="col-md-5 col-sm-12 text-center">
                                    <label>
                                        <input type="checkbox"><br />
                                        Valor ser&aacute; ingresado (Manualmente)
                                    </label>
                                    
                                    
                                   
                                
                                </div>

                                <div class="col-md-5 col-sm-12">

                                    <textarea class="form-control" style="max-height:50px; max-width:100%;"></textarea>
                                </div>

                                <div class="col-2">
                                    <button class="btn btn-primary"><i class="fa fa-question-circle fa-lg"></i> </button> 
                                </div>

                            </div>


                        </div>


                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">

                        <div class="card-body">


                            <div class="row">

                                <div class="col-md-4 col-sm-12">
                                    <label class="form-check-label">
                                        Considerar como
                                    </label>
                                    <select class="form-control">
                                        <option>1</option>
                                    </select>

                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="form-check-label">

                                        Tipo de Remun.
                                    </label>
                                    <select class="form-control">
                                        <option>1</option>
                                    </select>

                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="form-check-label">

                                        Enlazar con
                                    </label>
                                    <input type="text" class="form-control" />

                                </div>



                            </div>
                        </div>

                    </div>


                </div>

            </div>


            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">
                        <div class="card-header font-weight-bold">
                            Posici&oacute;n de Impresi&oacute;n
                        </div>
                        <div class="card-body">


                            <div class="row align-items-center">

                                <div class="col-md-4 col-sm-12">
                                    <label class="form-check-label">

                                        Fila en la Boleta
                                    </label>
                                    <input type="text" class="form-control" />

                                </div>
                                <div class="col-md-4 col-sm-12 align-self-center text-center">
                                
                                    <label>
                                        <input type="checkbox"><br />
                                        Posici&oacute;n fija
                                    </label>




                                </div>


                                <div class="col-md-4 col-sm-12">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">

                                            <button class="btn  btn-primary"><i class="fa fa-question-circle fa-lg"></i> </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 ">
                                  
                                        <label class="mt-1">

                                            Columna de la Plantilla
                                        </label>
                                        <input type="text" class="form-control" />
                                 
                                   

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>



            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center text-center">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check " />
                                        Permitir grabar Valores
                                    </label>

                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <label class="form-check-label">

                                        Enlazar con
                                    </label>
                                    <input type="text" class="form-control" />

                                </div>



                            </div>
                        </div>

                    </div>


                </div>

            </div>









        </div>

         <div class="tab-pane " id="paso2" role="tabpanel" aria-labelledby="paso2-tab">

             <div class="row">
                 <div class="col-12">

                     <div class="card shadow mt-2">
                         <div class="card-header font-weight-bold">
                           Configuraci&oacute;n de Afectaciones

                         </div>
                         <div class="card-body">

                             <p> Afectaciones de Ley</p>
                             <hr />
                             <div class="row">

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Remuneraci&oacute;n Asegurable a Pensi&oacute;n (ONP-AFP)
                                         </label>

                                     </div>
                                         <div class="form-group">
                                             <label class="form-check-label">
                                                 <input type="checkbox" class="form-check " />
                                                 Remuneraci&oacute;n Aportaciones a EsSalud
                                             </label>
                                         </div>

                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Remuneraci&oacute;n afecta al SENEATI
                                         </label>
                                 </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Remuneraci&oacute;n afecta al S.C.T.R.
                                         </label>
                                     </div>



                         </div>

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label disabled">
                                             <input type="checkbox" class="form-check "  disabled/>
                                             Remuneraci&oacute;n Afecta a SUBSIDIO
                                         </label>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Acumula P/Rem. Vacacional
                                         </label>
                                     </div>

                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                          Concepto de Gratificaci&oacute;n
                                         </label>
                                     </div>
                        

                                 </div>


                     </div>

                             <br />
                             <p> Afectaciones 5ta. Categor&iacute;a</p>
                             <hr />
                             <div class="row">

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Remuneraci&oacute;n Afecta a Quinta Categoria - Remuneraci&oacute;n Ordinaria
                                         </label>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                            Rem. afecta a Quinta Categoria - Rem. Variable Proyectable
                                         </label>
                                     </div>

                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                            Rem afecta a Quintta Categoria- Rem. Variable No Proyectable 
                                         </label>
                                     </div>
                                


                                 </div>

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Retener total de Quinta Categor&iacute;a
                                         </label>
                                     </div>

                                     <div class="form-group">
                                         <label class="form-check-label ">
                                             <input type="checkbox" class="form-check "  />
                                          Promedio de Remuneraci&oacute;n Variable Proyectable
                                         </label>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Pago Extraordinario
                                         </label>
                                     </div>

                                     

                                 </div>


                             </div>

                             <br />
                             <p> Otras Afecciones </p>
                             <hr />
                             <div class="row">

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                            Provisiones de C.T.S.
                                         </label>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                          Provisiones de Gratificaci&oacute;n
                                         </label>
                                     </div>

                              



                                 </div>

                                 <div class="col-md-6 col-sm-12">
                             
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Provisiones de Vacaciones
                                         </label>
                                     </div>

                                 </div>


                             </div>

                             <p> Afectaciones Provisiones</p>
                             <hr />
                             <div class="row">

                                 <div class="col-md-6 col-sm-12">
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                            Variable Auxiliar Total01
                                         </label>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                            Variable Auxiliar Total02
                                         </label>
                                     </div>





                                 </div>

                                 <div class="col-md-6 col-sm-12">

                                     <div class="form-group">
                                         <label class="form-check-label">
                                             <input type="checkbox" class="form-check " />
                                             Variable Auxiliar Total03
                                         </label>
                                     </div>

                                 </div>


                             </div>





                 </div>

             </div>
</div>


       


        </div>



        
 


    </div>
 


        <div class="tab-pane" id="paso3" role="tabpanel" aria-labelledby="paso3-tab">

            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">
                        <div class="card-header font-weight-bold">
                            Cuenta Debe

                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped pre-scrollable " id="Paso3Grid" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sec</th>
                                        <th>Cuenta</th>
                                        <th>Tipo</th>
                                        <th>Desc de tipo de Asiento</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>xxx</td>
                                        <td>xxx</td>
                                        <td>xx</td>
                                        <td>xxxx</td>

                                    </tr>
                            </table>


                        </div>


                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-12">

                    <div class="card shadow mt-2">
                        <div class="card-header font-weight-bold">
                        Cuenta Haber
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped pre-scrollable " id="Paso3Grid" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sec</th>
                                        <th>Cuenta</th>
                                        <th>Tipo</th>
                                        <th>Desc de tipo de Asiento</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>xxx</td>
                                        <td>xxx</td>
                                        <td>xx</td>
                                        <td>xxxx</td>

                                    </tr>
                            </table>

                        </div>


                    </div>

                </div>

            </div>



        </div>

  <hr />
         <div class="row">
         <div class="col">
             <button class="btn-success btn ">
                Aceptar 
             </button>
         </div>
         </div>


</div>



    </div>
<script>
    $(function () {
        $("#Paso3Grid").DataTable({
            destroy: true,
            processing: true,
            serverSide: true,
            filter: true, 
            orderMulti: false,
            info: false,
            ajax: {
                url: ruta_actual + "/PAsistencia/GridAsistencia",
                type: "POST",
                datatype: "json",
            },
            columns: [
                { data: "CODIGO_TRABAJADOR" },
                { data: "NOMBRE_TRABAJADOR" },
            
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.CODIGO + '\')"><i class="fa fa-trash"></i></button>';

                    }
                },
            ]
        });
    });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(".datepickers").datepicker({
        autoclose: true
    });

    $('#c_centro_todas').on('ifUnchecked', function (event) {
        $("#c_centro_uno")[0].style.display = "flex";
    });

    $('#c_centro_todas').on('ifChecked', function (event) {
        $("#c_centro_uno")[0].style.display = "none";
    });

    $('#c_area_todas').on('ifUnchecked', function (event) {
        $("#c_area_uno")[0].style.display = "flex";
    });

    $('#c_area_todas').on('ifChecked', function (event) {
        $("#c_area_uno")[0].style.display = "none";
    });

    $('#totals').on('ifChecked', function (event) {
        $("#Aparecer")[0].style.display = "flex";
       
    });
    $('#totals').on('ifUnchecked', function (event) {
        $("#Aparecer")[0].style.display = "none";
    });

    $(".datepickers").datepicker({
        autoclose: true
    });
    $('#area_radio').on('ifChecked', function (event) {
        $("#mp_area")[0].style.display = "block";
        $("#mp_centro")[0].style.display = "none";
    });

    $('#area_radio').on('ifUnchecked', function (event) {
        $("#mp_area")[0].style.display = "none";
        $("#mp_centro")[0].style.display = "block";
    });

    function cambia_fecha(valor) {
        if (valor == "") {
            $("#fecha_ingreso")[0].style.display = "none";
        } else {
            $("#fecha_ingreso")[0].style.display = "flex";
        }
    }
</script>
