
@model Datos.PlanillaModels.PMaestraModel

@{
    ViewBag.Title = "Cálculo y Depósito CTS";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Planilla", "Index", "Planilla")</li>
                    <li class="breadcrumbs-item">Procesos</li>
                    <li class="breadcrumbs-item">Calcular Beneficios Sociales</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5><b>@ViewBag.Title</b></h5>
        </div>

        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title Inicio ', '/PMaestra/Ayuda', 'PIRBIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="row col-sm-12">
        <button class="btn btn-success" onclick="AjaxModalGet('Nuevo Cálculo de C.T.S', '/PProceso/CTSCalSTC', 'nada2', 'm_central')">
            <i class='fa fa-plus'></i>
            Agregar
        </button>
    </div>
    <div class="card shadow mt-1">
        <div class="card-header font-weight-bold">
            Beneficios Sociales : Depósitos de C.T.S.
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col border-bottom text-center"> <p>Plantillas de Depósito de C.T.S.</p></div>

            </div>
            <div class="table-responsive">

                <table class="table table-bordered table-striped pre-scrollable datatables" id="PIRBIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre Descriptivo</th>
                            <th>Total S/.</th>
                            <th>Total US$</th>
                            <th>Fecha de Dep&oacute;sito </th>
                            <th>TC</th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row align-items-center m-1">

            <div class="col-sm-12  col-lg-2 ">
                <button class="col-md-12 btn btn-secondary " onclick="AjaxModalGet('Adelanto de Gratificación', '/PProceso/POBCAdelantL', 'nada2', 'm_central')">
                    <i class='fa fa-wrench'></i>
                    Parámetros CTS
                </button>
            </div>
            <div class="col-md-12 col-lg-2 mt-1">
                <select class="form-control ">
                    <option>Reportes</option>
                </select>
            </div>
            <div class="col-md-12 col-lg-2 mt-1">
                <button class="btn col-md-12 btn-warning " onclick="AjaxModalGet('Pagos por Banco', '/PProceso/PagosPorBanco', 'nada2', 'm_central')">
                    Pagos x Banco
                </button>
            </div>

            <div class="col-md-12 col-lg-2 mt-1">
                <button class="btn col-md-12 btn-info ">
                    Enviar Notificacion de Pago
                </button>
            </div>

            <div class="col-md-12 col-lg-2 mt-1">
                <button class="btn  col-md-12 btn-secondary ">
                    4 &uacute;lt. Remuneraciones Brutas
                </button>
            </div>


            <div class="col-md-12 col-lg-2 mt-1">
                <button class="btn  col-md-12 btn-primary ">
                    Const. de Recep. CTS
                </button>
            </div>


        </div>
        <hr />

    </div>
    <hr />

 
   
</div>



<script>
    $(function () {
        $("#PIRBIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            info: false,

            ajax: {
                url: ruta_actual + "/PProceso/GridListadoTrabajadores",
                type: "POST",
                datatype: "json",
            },
            columns: [
                { data: "CODIGO" },
                { data: "NOMBRE" },
                { data: "BASICO" },
                { data: "MONEDA" },
                  { data: "BASICO" },
                { data: "MONEDA" },
                {
                    render: function (data, type, row) {
                        return '<a class="btn btn-info grid_opt" title="Editar" onclick="AjaxModalGet(\'Registro de Bono\',\'/PProceso/CTSEditarCG\', \'nada2\', \'m_central\')" href="#"><i class="fa fa-edit"></i></button>';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.CODIGO + '\')"><i class="fa fa-trash"></i></button>';
                    }
                },
            ]
        });
    });
</script>
