@model Datos.PlanillaModels.PMaestraModel

<input id="parametro" name="parametro" type="hidden" value="@ViewBag.accion" />
<div class="modal fade" id="ISPModal" tabindex="-1" role="dialog" aria-labelledby="Modal Central" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuraci&oacute;n Horas</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h200">
                <div class="row">
                    <div class="col-sm-8 mt-1">
                        Horas Trabajadas
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-8 mt-1">
                        Horas Extras 25%
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-8 mt-1">
                        Horas Extras 35%
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-8 mt-1">
                        Horas Extras 60%
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-8 mt-1">
                        Horas Extras 100%
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button">
                    <i class='fa fa-save'></i> 
                    Grabar
                </button>
                <button class="btn btn-info" type="button" onclick="$('#ISPModal').modal('hide')">
                    <i class='fa fa-arrow-left'></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <label>Fecha Inicial</label>
            <input class="form-control datepickers" readonly />
        </div>
        <div class="col-sm-2">
            <label>Fecha Fin</label>
            <input class="form-control datepickers" readonly />
        </div>
        <div class="col-sm-4">
            <label>Trabajador</label>
            <input class="form-control" />
        </div>
        <div class="col-sm-4">
            <label>&nbsp;</label><br />
            <a href="#" onclick="AjaxModalGet('Detalle Horario Fijo', '/PMaestra/Referencias', '', 'm_middle');" class="btn btn-primary">
                <i class='fa fa-users'></i>
                Seleccionar
            </a>
            <a href="#" class="btn btn-secondary">
                <i class='fa fa-undo'></i>
                Seleccionar
            </a>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered pre-scrollable datatables" id="ISPGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Cod. Trabajador</th>
                            <th>Apellidos y Nombres</th>
                            <th>Horas Laboradas</th>
                            <th>Horas Extras 25%</th>
                            <th>Horas Extras 35%</th>
                            <th>Horas Extras 60%</th>
                            <th>Horas Extras 60%</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-8">
            <a href="#" onclick="$('#ISPModal').modal('show')" class="btn btn-primary">
                <i class='fa fa-cogs'></i>
                Configuraci&oacute;n
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" onclick="$('#m_central').modal('hide')" class="btn btn-info">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Enviar a Planilla
            </a>
        </div>
    </div>
</div>

<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(function () {
        $("#ISPGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            info: false,

            ajax: {
                url: ruta_actual + "/PAsistencia/GridAsistencia",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [3, 4, 5, 6],
                orderable: false,
                searchable: false,
                className: 'btn-success'
            }],
            columns: [
                { data: "CODIGO_TRABAJADOR" },
                { data: "NOMBRE_TRABAJADOR" },
                { data: "ENTRADA" },
                { data: "SALIDA" },
                { data: "SALIDA" },
                { data: "ENTRADA" },
                { data: "SALIDA" },
            ],
        });
    });
</script>
