@model Datos.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-3">
            <div class="card-body p-0">
                <div class="row h-100" style="min-height: 600px">
                    <div class="col-lg-6 d-none d-lg-block login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h2 class="text-gray-900 mb-4">Mi Negocio</h2>
                                <h5 class="text-info mb-4">Recuperar Cuenta</h5>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Clave">
                                </div>
                                <a href="#" class="btn btn-primary btn-user btn-block">
                                    <i class='fa fa-unlock'></i>
                                    Recuperar
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Recuperar", "Login")">Recuperar Contraseña</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Crear", "Login")">Crear una cuenta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>