<div class="container-fluid">
    <p>Formulario del m&oacute;dulo de <b>Datos de Canje</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        Campo <b>Cliente</b>
                    </td>
                    <td>
                        Muestra el cliente seleccionado, campo no editable
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-primary grid_opt'>
                            <i class='fa fa-file-archive'></i>
                            Datos de Letra
                        </label>
                    </td>
                    <td>
                        Permite agregar los datos para crear letra de cambio
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-info grid_opt'>
                            <i class='fa fa-arrow-left'></i>
                            Regresar
                        </label>
                    </td>
                    <td>
                        Regresa al inicio
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <a href="#" class="btn btn-light" onclick="AjaxModalGet('Ayuda Artículos - Canje', '/CuentasPorCobrar/Ayuda', 'TDCCCanje', 'm_ayudas')">
        <i class='fa fa-undo'></i>
        Retroceder
    </a>
</div>