@model Datos.ContabilidadModels.ContabilidadModel

<div class="row">
    <div class="col-sm-4">
      <label>C&oacute;digo de Cuenta</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6">
      <label>Descripci&oacute;n</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-2">
      <label>Nivel</label>
      <select class="form-control">
        <option></option>
      </select>
    </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <a href="#" onclick="ocultar_panel('CPCEIndex', 'Contabilidad')" class="btn btn-info">
      <i class='fa fa-arrow-left'></i>
      Regresar
    </a>
    <button class="btn btn-success">
      <i class='fa fa-save'></i>
      Guardar
    </button>
  </div>
</div>
