@model Datos.ContabilidadModels.ContabilidadModel

@{
    ViewBag.Title = "Plan de Cuentas Extranjero";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Contabilidad", "Index", "Contabilidad")</li>
                    <li class="breadcrumbs-item">Base de Datos</li>
                    <li class="breadcrumbs-item">Plan de Cuentas</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5><b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/Contabilidad/Ayuda', 'CPCEIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-4">
            <a href="#" onclick='mostrar_panel("CPCECreate", "Contabilidad")' class="btn btn-primary">
                <i class='fa fa-plus'></i>
                Agregar
            </a>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-3 text-center">
            <a href="#" class="btn btn-success">
                <i class='fa fa-cogs'></i>
                Procesar
            </a>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="CPCEIndexGrid" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Nivel</th>
                        <th>Clase</th>
                        <th>Centro de Costo</th>
                        <th style="width: 5px"></th>
                        <th style="width: 5px"></th>
                        <th style="width: 5px"></th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#CPCEIndexGrid").DataTable({
            destroy: true,
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once

            ajax: {
                url: ruta_actual + "/Contabilidad/GridPlanCuentas",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [5,6],
                orderable: false,
                searchable: false
            }],
            columns: [
                { data: "CODIGO" },
                { data: "DESCRIPCION" },
                { data: "NIVEL" },
                { data: "CLASE" },
                { data: "CENTRO_COSTO" },
                {
                    render: function (data, type, row)
                    { return '<a class="btn btn-info grid_opt" title="Editar" href="#" onclick="mostrar_panel(\'CPCEEdit?Codigo=' + row.CODIGO + '\', \'Contabilidad\')" ><i class="fa fa-edit"></i></a>'; }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.CODIGO + '\')"><i class="fa fa-trash"></i></a>';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-primary grid_opt" title="Imprimir" href="#"><i class="fa fa-print"></i></a>';
                    }
                },
            ]
        });
    });
</script>
