@model Datos.Models.MaestroModel

@{
    ViewBag.Title = "Sincronizar Base de Datos (Exportar/Importar Movimiento)";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Maestro", "Index", "Maestro")</li>
                    <li class="breadcrumbs-item active">Utilidades Adicionales</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Maestro - @ViewBag.Title - Inicio ', '/Maestro/Ayuda', 'UASBDIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="row col-sm-12">
        <h3 class="font-weight-bold w-100 text-center">ADVERTENCIA</h3><br />
        <label class="text-justify">
            Se recomienda cerrar todas las aplicaciones de <b>MiNegocio</b> y que no est&eacute; utilizando la Base de Datos. Solo la aplicaci&oacute;n actual 
            puede estar activa
        </label>
    </div>
    <hr />
    <div class="row col-sm-12">
        <h6 class="font-weight-bold w-100 text-center">
            Exporta/Importa movimientos de Punto de Venta hacia una Base de Datos
        </h6>
    </div>
    <hr />
    <div class="row">
        <div class="card col-sm-12">
            <div class="card-header text-danger font-weight-bold">Escoja la acci&oacute;n que desea realizar</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="radio" name="i" />&nbsp;
                        Exportar Movimientos
                    </div>
                    <div class="col-sm-6">
                        <input type="radio" name="i" />&nbsp;
                        Importar Movimientos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-4">
            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Aceptar
            </a>
        </div>
    </div>
</div>

