<div class="container-fluid">
    <p>Formulario de Reporte de <b>Actualiza Saldos Proveedores</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        Fecha
                    </td>
                    <td>
                        Permite realizar la busqueda de los registros por un rango de fecha espec&iacute;fico
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-success grid_opt'>
                            <i class='fa fa-cogs'></i>
                            Procesar
                        </label>
                    </td>
                    <td>
                        Permite buscar e imprimir seg&uacute;n el rango de par&aacute;metros seleccionados
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>