<div class="container-fluid pre-scrollable">
    <p>Formulario donde se registra o edita los datos de un Art&iacute;culo</p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        Campo <b>C&oacute;digo</b>
                    </td>
                    <td>
                        Indica el c&oacute;digo del precio del art&iacute;culo
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Campo <b>Precio m&iacute;nimo</b>
                    </td>
                    <td>
                        Precio m&iacute;nimo del art&iacute;culo seleccionado
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class="btn btn-primary">
                            <i class='fa fa-arrow-left'></i>
                            Regresar
                        </label>
                    </td>
                    <td>
                        Regresa al Inicio de los Datos de Venta
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-success'>
                            <i class='fa fa-save'></i>
                            Guardar
                        </label>
                    </td>
                    <td>
                        Se guardan los datos cargados de la ventana seleccionada
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>