@{
    ViewBag.Title = "Rentabilidad de Venta Mensual";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Gerente", "Index", "Gerente")</li>
                    <li class="breadcrumbs-item">C&aacute;lculo de Utilidad Neta Mensual</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/Gerente/Ayuda', 'CUNMRVMIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Mes</div>
                    <div class="card-body">
                        <div class="row col-sm-12">
                            <input type="text" class="form-control datepickers" readonly="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Tipo</div>
                    <div class="card-body">
                        <div class="row col-sm-12 p-1">
                            <input type="radio" name="i_vm" />&nbsp;
                            Detallado
                        </div>
                        <div class="row col-sm-12 p-1">
                            <input type="radio" name="i_vm" />&nbsp;
                            Resumido
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <a href="#" class="btn btn-primary">
                <i class='fa fa-print'></i>
                Imprimir
            </a>
        </div>
    }
</div>
