@model Datos.Models.CuentasPorPagarModel
@{
    ViewBag.Title = "Pagos por Proveedor";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Cuentas Por Pagar", "Index", "CuentasPorPagar")</li>
                    <li class="breadcrumbs-item">Reportes</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/CuentasPorPagar/Ayuda', 'RPPIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Proveedor</div>
                    <div class="card-body row">
                        <div class="col-sm-6">
                            <label>De</label>
                            <input type="text" class="form-control alert-warning" maxlength="11" onkeypress="solo_enteros(event)" title="Doble Click para buscar" ondblclick="AjaxModalGet('Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" />
                        </div>
                        <div class="col-sm-6">
                            <label>A</label><br />
                            <input type="text" class="form-control alert-warning" maxlength="11" onkeypress="solo_enteros(event)" title="Doble Click para buscar" ondblclick="AjaxModalGet('Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Fecha de Cobranza</div>
                    <div class="card-body row">
                        <div class="col-sm-6">
                            <label>Desde</label><br />
                            <input class="form-control datepickers" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label>Hasta</label><br />
                            <input class="form-control datepickers" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="card col-sm-12">
            <div class="card-body table-responsive">
                <div class="row" align="center">
                    <div class="col-sm-4">
                        <input class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-primary">
                            <i class='fa fa-search'></i>
                            Buscar
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" id="i_arts" />&nbsp;
                        Marcar Todos
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" id="i_arts" />&nbsp;
                        Ordenado por Fecha
                    </div>
                </div>
                <table class="table table-bordered table-striped pre-scrollable datatables" id="RPPIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sel.</th>
                            <th>C&oacute;digo</th>
                            <th>Descripci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="row col-sm-12">
        <a href="#" class="btn btn-primary">
            <i class='fa fa-print'></i>
            Imprimir
        </a>
    </div>
</div>
<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('.telefono').mask('(000) 000-0000', { placeholder: "(000) 000-0000" });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(function () {
        $("#RPPIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            searching: false,
            paging: false,
            info: false,
            ajax: {
                url: ruta_actual + "/Proveedor/GridProveedores",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [0],
                orderable: false,
                searchable: false
            },
            {
                targets: [1],
                orderable: false,
                searchable: false
            },
            {
                targets: [2],
                orderable: false,
                searchable: false
            }],
            columns: [
                {
                    data: null, render: function (data, type, row) {
                        return '<i class="btn btn-primary fa fa-circle proveedor" onclick="cambiar_imagen(\'' + row.Codigo + '\')" id="input_' + row.Codigo + '"></i>';
                    }
                },
                { data: "Codigo" },
                { data: "Descripcion" },
            ]
        });

        $('#i_arts').on('ifChecked', function () {
            activa_arts(0);
        })

        $('#i_arts').on('ifUnchecked', function () {
            activa_arts(1);
        })
    });
    /****************************************************************************************************/
    function activa_arts(valor) {
        if (valor == 0) {
            $(".proveedor").each(function () {
                $(this).removeClass('fa-circle');
                $(this).addClass('fa-check-circle');
            });
        } else {
            $(".proveedor").each(function () {
                $(this).removeClass('fa-check-circle');
                $(this).addClass('fa-circle');
            });
        }
    }

    function cambiar_imagen(valor) {
        var id = $("#input_" + valor)[0];

        if (id.classList.contains("fa-circle")) {
            id.classList.remove('fa-circle');
            id.classList.add('fa-check-circle');
        } else {
            id.classList.add('fa-circle');
            id.classList.remove('fa-check-close');
        }
    }
</script>
