@{
    ViewBag.Title = "Compras";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid">
    <h5> <b>Agregar @ViewBag.Title</b></h5>
    <hr />
    @Html.Partial("Datos")
</div>

