<div class="container-fluid">
    <p>Formulario de inicio del m&oacute;dulo de <b>Tipo de Precio</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Campo <b>Buscar</b>
                    </td>
                    <td>
                        Permite filtrar los datos según criterio de fecha
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class="btn btn-success">
                            <i class='fa fa-plus'></i>
                            Agregar
                        </label>
                    </td>
                    <td>
                        Agrega un nuevo registro
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class="btn btn-info">
                            <i class='fa fa-edit'></i>
                        </label>
                    </td>
                    <td>
                        Editar el registro seleccionado
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-primary grid_opt'><i class='fa fa-print'></i></label>
                    </td>
                    <td>
                        Imprime el registro seleccionado
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class='btn btn-danger grid_opt'><i class='fa fa-trash'></i></label>
                    </td>
                    <td>
                        Anula el registro seleccionado
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>