<div class="container-fluid">
    <p>Formulario de inicio del m&oacute;dulo <b>Ingreso de Stock Inicial</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Grilla para <b>Seleccionar la empresa origen</b>
                    </td>
                    <td>
                        Se marca cual empresea será el origen de migración
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Opción <b>Escribir o no escribir registros existentes</b>
                    </td>
                    <td>
                        Indica si sobreescribirá los datos o actualizará
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label class="btn btn-success">
                            <i class='fa fa-save'></i>
                            Aceptar
                        </label>
                    </td>
                    <td>
                        Guarda el proceso
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>