<div class="container-fluid">
    <p>Formulario donde se registra o edita una <b>Transferencia con Guía</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <thead>
                <tr>
                    <th class="text-center" style="width: 30%">Opci&oacute;n</th>
                    <th class="text-center">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Campo <b>Cliente</b>
                    </td>
                    <td>
                        Selecci&oacute;n de Cliente<br />
                        - Doble click despliega una pantalla para la b&uacute;squeda y selecci&oacute;n
                    </td>
                </tr>
                <tr>
                    <td>
                        Campo <b>Transacci&oacute;n</b>
                    </td>
                    <td>
                        Tipo de transacci&oacute;n<br />
                        - Doble click despliega una pantalla para la b&uacute;squeda y selecci&oacute;n
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        .<br />
                        .<br />
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-primary">
                            <i class='fa fa-plus'></i>
                            Nuevo
                        </label>
                    </td>
                    <td>
                        Despliega una ventana donde se agrega el detalle de productos/servicios
                        <a href="#" class="btn btn-light" onclick="AjaxModalGet('Ayuda Transferencia con Guía - Nuevo', '/Almacenes/Ayuda', 'TGNuevo', 'm_ayudas')">
                            <i class='fa fa-arrow-right'></i>
                            Ver m&aacute;s
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-info">
                            <i class='fa fa-arrow-left'></i>
                            Regresar
                        </label>
                    </td>
                    <td>
                        Regresa al Inicio
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>