<div class="container-fluid">
    <p>Formulario de inicio del m&oacute;dulo de <b>Cierre</b></p>
    <div class="row col-sm-12">
        <table class="table pre-scrollable tabla_cero">
            <tbody>
                <tr>
                    <td align="center">
                        Abre una ventana para confirmar proceso de cierre
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>