@model Datos.Models.UtilitariosModel

@{
    ViewBag.Title = "Administración de Empresa";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Utilidades", "Index", "Utilitarios")</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Utilitarios - Inicio', '/Utilitarios/Ayuda', 'AEIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <a href="#" onclick="mostrar_panel('AECreate', 'Utilitarios')" class="btn btn-success">
                    <i class='fa fa-plus'></i>
                    Agregar
                </a>
            </div>
        </div>
        <br />
    }
    <!--<table id="AEIndexGrid" class="pre-scrollable"></table>
        <div id="pager"></div>-->
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Listado de Empresas <label class='btn btn-primary grid_opt' onclick="imprimir_global()"><i class='fa fa-print'></i></label></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="AEIndexGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>RUC</th>
                            <th>Descripci&oacute;n</th>
                            <th>D. Comercial</th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#AEIndexGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            

            ajax: {
                url: ruta_actual + "/Utilitarios/GridEmpresas",
                type: "POST",
                datatype: "json",
            },
            columnDefs:
            [{
                targets: [4],
                orderable: false,
                searchable: false
            },
            {
                targets: [5],
                searchable: false,
                orderable: false
            },
            {
                targets: [6],
                searchable: false,
                orderable: false
            }],
            columns: [
                { data: "Codigo" },
                { data: "RUCEmpresa" },
                { data: "Descripcion" },
                { data: "DescripcionComercial" },
                {
                    render: function (data, type, row)
                    { return '<a class="btn btn-info grid_opt" title="Editar" href="#" onclick="mostrar_panel(\'AEEdit?Codigo=' + row.Codigo + '\', \'Utilitarios\')" ><i class="fa fa-edit"></i></a>'; }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.Codigo + '\')"><i class="fa fa-trash"></i></a>';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-primary grid_opt" title="Imprimir" href="#"><i class="fa fa-print"></i></a>';
                    }
                },
            ]
        });
    });
</script>
